body {
    background-color: #add8e6; /* Hex code for light blue */
    color: rgb(51, 51, 51); /* RGB code for dark gray */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #add8e6;
    color: white;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 1em;
}

.profile-pic {
    border-radius: 0;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 1em;
}

h1 {
    margin: 0.8em 0 0.4em;
}

h2 {
    color: #333; /* Hex code for dark gray */
    margin-bottom: 0.5em;
}

p {
    line-height: 1.6;
}

main {
    padding: 2em 0;
}

section {
    background-color: #add8e6;
}

footer {
    background-color:#add8e6;
    color: white;
    text-align: center;
}
